body {
    background-color: blue;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.highlight {
    background-color: yellow;
    color: black;
    padding: 20px;
}